<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define the DBConnectionManager bean -->
    <bean id="dbConnectionManager" class="com.task.servlet.DBConnectionManager"/>

    <!-- Define the TaskRegistrationServlet bean and inject DBConnectionManager via constructor -->
    <bean id="taskRegistrationServlet" class="com.task.servlet.TaskRegistrationServlet">
        <constructor-arg ref="dbConnectionManager"/>
    </bean>

</beans>
